#
# These variables are subsituted into templates buy run-terraform.sh
#

# Terraform Variables - terraform/variables.tf.template -> terraform/variables.tf
#
TF_AWS_INSTANCE_PREFIX=my
TF_AWS_DOMAINNAME=my.example.com
TF_AWS_OWNER_TAG=me
TF_AWS_EXPIRATION_TAG=24h
TF_AWS_PURPOSE_TAG="Testing a deployment"
#
TF_AWS_KEY_NAME=mysshkeyname
#
# Existing AWS Hosted Domain to create a subdomain in, ex; example.com
TF_AWS_ROUTE53_ZONE_ID=AAAAAAAAAAAAAA
#
TF_AWS_REGION=us-east-1
TF_AWS_AVAILABILITY_ZONES=us-east-1a,us-east-1b,us-east-1c,us-east-1d
#
# https://wiki.centos.org/Cloud/AWS: CentOS Linux 7 1801_01 2018-Jan-14 us-east-1 ami-4bf3d731 x86_64 HVM EBS
TF_AWS_CENTOS_AMI=ami-4bf3d731
# Centos 7 1801_1 - eu-west-2 / London:
#TF_AWS_CENTOS_AMI=ami-3d6b7059

#
TF_AWS_MASTER_COUNT=3
TF_AWS_NODE_COUNT=4
TF_AWS_DOCKER_VOLUME_SIZE=31
#
TF_AWS_BOOTSTRAP_INSTANCE_TYPE=t2.medium
TF_AWS_MASTER_INSTANCE_TYPE=t2.large
TF_AWS_NODE_INSTANCE_TYPE=t2.large


# for ansible
ANSIBLE_SSH_PRIVATE_KEY_FILE=~/.ssh/mysshkeyname
ANSIBLE_USER=centos

# not currently used:
ADMIN_USERNAME=admin
ADMIN_PASSWORD=myadminpwd

